doctype html
html
  head
    title= title 
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js')
    link(rel='stylesheet' href='https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css')
    script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
    script(src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    script(src="https://npmcdn.com/leaflet-geometryutil")

  body
    block content